:root {
    --max: 900px;
    --muted: #6b7280;
}

.custom-marker-icon {
    background: none;
    border: none;
    width: 24px !important;
    height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}